/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-family: "Times New Roman", Times, serif;
	background: #e8e8e8;
	width: 1440px;
	height: 1700px;
}
.www {
	background-image: url(../img/Project/ellipse_1_copy_4.png);
	background-repeat: no-repeat;
	width: 1190px;
	height: 1064px;
	opacity: 0.24;
	position: absolute;
	margin-top: 106px;
	margin-left: 142px;
	z-index: -1;
}

.zag1 {
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	margin-top: 168px;
	margin-left: 671px;
}
.zag2 {
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	margin-left: 345px;
	margin-right: 370px;
	margin-top: 16px;
	text-align: center;
}
.picture2 {
	box-sizing: border-box;
	border: 10px solid white;
	width: 841px;
	height: 561px;
	margin-left: 289px;
	margin-top: 65px;
}
.text {
	opacity: 0.8;
	font-family: "Times New Roman";
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	margin-left: 334px;
	margin-right: 365px;
	margin-top: 87px;
}

.paragraph2 {
	margin-top: 40px;
}
.list {
	list-style-image: url(../img/Project/check_icon_37.png);
	margin-left: 367px;
	margin-top: 54px;
}
.l1 {
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	color: #273d46;
}
.l2 {
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	font-style: italic;
	color: #80b7b3;
}
.l3 {
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #273d46;
	text-shadow: 0px 1px 1px #273d46;;
}
.l4 {
	opacity: 0.3;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-decoration: line-through;
	color: #273d46;
}
.oval {
	border: 1px solid #80b7b3;
	width: 199px;
	height: 44px;
	background-color: #80b7b3;
	border-radius: 50px 50px 50px 50px;
	margin-left: 330px;
	margin-top: 59px;
	display:inline-flex;
}
.Inscription {
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	margin-left: 30px;
}
.eee {
	padding-top: 12px;
	margin-left: 9px;
}
